* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", sans-serif;
}

body {
  background: url("./assets/background-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 461px) and (max-width: 760px) {
  body {
    background: url("./assets/background-tablet.png");
  }
}

@media (max-width: 460px) {
  body {
    background: url("./assets/background-mobile.png");
  }
}

.web-title {
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 1rem;
}

.web-title > span {
  padding-left: 0.5rem;
  font-weight: bold;
  word-spacing: 3px;
}

.web-title > img {
  width: 2rem;
}

header > p {
  color: #fff;
  text-align: center;
}

header .main-text {
  font-size: 2.8rem;
  font-weight: bold;
  width: 45rem;
  margin: 1.5rem auto 0 auto;
  word-spacing: 8px;
}

.secondary-text {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  color: #bdb3b3;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 1rem;
}

.input-containers {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 400px;
  margin: .5rem 0;
  padding: .5rem;
  backdrop-filter: blur(20px); /* Blur applied to background */
}

.input-containers label {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 1rem;
}

.input-containers input {
  padding: 0.8rem;
  font-size: 1rem;
  border:1px solid #666;
  border-radius: 10px;
  /* background: rgba(255, 255, 255, 0.8); Prevent input from being blurred */
  background: url('./assets/background-desktop.png');
  color: #666;
}

.input-containers input[type="file"] {
  border: 2px dashed #666;
}

.input-containers input:focus {
  outline: none;
  border-color: #666;
}

button {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

button:hover {
  background-color: #555;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed #666;
  border-radius: 1rem;
  background: url('./assets/background-desktop.png');
}

.upload-container label {
  cursor: pointer;
  transition: all .3s;
  margin-top: 0.5rem;
}

.upload-container label:hover {
  transform: translateY(3px);
}

.upload-container  input {
  display: none;
}

.upload-container p {
  margin: .5rem;
  color: #666;
}

.upload-container > h2 {
  color: #fff;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.upload-message {
  color: #666;
  font-size: .8rem;
  margin-right: 5rem;
  display: flex;
  align-items: center;
}

.upload-message img {
  padding-right: 0.2rem;
}